@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc((10 / 16) * 100%);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-hero {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-hero__title {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
}
.heading-hero__subtitle {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-align: center;
  transition: transform 0.2s, text-shadow 0.2s;
}
.heading-secondary:hover {
  transform: skewY(5deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:link, .btn:visited {
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: transform 0.25s, box-shadow 0.25s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white, .btn--white::after {
  background: #fff;
  color: #777;
}
.btn--pulse::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0s, opacity 0;
}
.btn--pulse:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition-duration: 0.4s;
}
.btn--rounded, .btn--rounded::after {
  border-radius: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .row {
  width: 100%;
  max-width: 114rem;
  display: flex;
  justify-content: space-between;
  background: #eee;
}
.container .row:not(:last-child) {
  margin-bottom: 8rem;
}
.container .row .col-1-of-4 {
  width: calc(1 * ((100% - (6rem * (4 - 1))) / 4) + ((1 - 1) * 6rem));
  background-color: orangered;
}
.container .row .col-2-of-4 {
  width: calc(2 * ((100% - (6rem * (4 - 1))) / 4) + ((2 - 1) * 6rem));
  background-color: orangered;
}
.container .row .col-3-of-4 {
  width: calc(3 * ((100% - (6rem * (4 - 1))) / 4) + ((3 - 1) * 6rem));
  background-color: orangered;
}
.container .row .col-1-of-3 {
  width: calc(1 * ((100% - (6rem * (3 - 1))) / 3) + ((1 - 1) * 6rem));
  background-color: orangered;
}
.container .row .col-2-of-3 {
  width: calc(2 * ((100% - (6rem * (3 - 1))) / 3) + ((2 - 1) * 6rem));
  background-color: orangered;
}
.container .row .col-1-of-2 {
  width: calc(1 * ((100% - (6rem * (2 - 1))) / 2) + ((1 - 1) * 6rem));
  background-color: orangered;
}

body {
  padding: 3rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  display: grid;
  grid-template: 75vh auto/100%;
  place-items: center;
}
.header__brand {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
  width: auto;
}
.header__container {
  text-align: center;
}

#header-button {
  animation: moveInBottom 0.15s ease-out 0.85s backwards;
}

.about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}
