@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc((10 / 16) * 100%);
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-hero {
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
}
.heading-hero__title {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation: moveInLeft 1s ease-out;
}
.heading-hero__subtitle {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.75rem;
  font-weight: 700;
  animation: moveInRight 1s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-align: center;
  transition: transform 0.2s, text-shadow 0.2s;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  overflow: hidden;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition: transform 0.25s, box-shadow 0.25s, background-color 0.25s, color 0.25s;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active, .btn:focus {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
}
.btn--invert-primary, .btn--invert-primary::after {
  color: #55c57a;
  border-bottom-color: #55c57a;
}
.btn--invert-primary:hover {
  color: #fff;
  background: #55c57a;
}
.btn--primary, .btn--primary::after {
  color: #fff;
  background: #55c57a;
}
.btn--white, .btn--white::after {
  background: #fff;
  color: #777;
}
.btn--pulse::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 0s, opacity 0s;
}
.btn--pulse:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  transition-duration: 0.4s;
}
.btn--rounded, .btn--rounded::after {
  border-radius: 10rem;
}
.btn--underline, .btn--underline::after {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.btn--big, .btn--big::after {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
}
.btn--small, .btn--small::after {
  padding: 3px;
}

.card {
  perspective: 150rem;
  position: relative;
  height: 52rem;
}
.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--back {
  transform: rotateY(-180deg);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture--sea {
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../img/nat-5.jpg") top/cover;
}
.card__picture--theme {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-6.jpg") top/cover;
}
.card__picture--snow {
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url("../img/nat-7.jpg") top/cover;
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--sea {
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--theme {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--snow {
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__side--back {
  display: grid;
  place-items: center;
}
.card__side--back--sea {
  background: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.card__side--back--theme {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
}
.card__side--back--snow {
  background: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}
.card__cta {
  text-align: center;
  color: #fff;
}
.card__only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price {
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 8rem;
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo:nth-child(1) {
  left: 0px;
  top: -2rem;
}
.composition__photo:nth-child(2) {
  right: 0;
  top: 2rem;
}
.composition__photo:nth-child(3) {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-card {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.feature-card:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-card__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom-color: #ff7730;
}
.form__input::placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: opacity 0.3s, transform 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  padding-left: 4rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1;
}

.modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s;
}
.modal:target {
  opacity: 1;
  visibility: visible;
}
.modal:target .modal__content {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.modal .row {
  display: grid;
  align-items: center;
}
.modal .col-1-of-3 {
  flex-grow: 1;
}
.modal .col-2-of-3 {
  padding: 3rem 5rem;
}
.modal .heading-secondary,
.modal .heading-tertiary {
  margin-bottom: 1.5rem;
}
.modal__content {
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  transform: scale(0.25);
  opacity: 0;
  visibility: none;
  transition: all 0.5s 0.2s;
}
.modal__img {
  display: block;
  width: 100%;
}
.modal__text {
  font-size: 1.4rem;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  hyphens: auto;
}
.modal__close:link, .modal__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  transition: color 0.2s;
}
.modal__close:hover {
  color: #55c57a;
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
}
.story__img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: transform 0.5s, filter 0.5s;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover .story__img {
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
}
.footer__brand {
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation, .footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
.footer__list {
  list-style: none;
}
.footer__list-item {
  display: inline-block;
}
.footer__list-item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
  background-color: #333;
}
.footer__link:hover, .footer__link:active {
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
}
.footer__copyright {
  width: 85%;
  float: right;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .row {
  width: 100%;
  max-width: 114rem;
  display: flex;
  justify-content: space-around;
}
.container .row:not(:last-child) {
  margin-bottom: 8rem;
}
.container .row .col-1-of-4 {
  width: calc( 1 * ((100% - (6rem * (4 - 1))) / 4) + ((1 - 1) * 6rem) );
}
.container .row .col-2-of-4 {
  width: calc( 2 * ((100% - (6rem * (4 - 1))) / 4) + ((2 - 1) * 6rem) );
}
.container .row .col-3-of-4 {
  width: calc( 3 * ((100% - (6rem * (4 - 1))) / 4) + ((3 - 1) * 6rem) );
}
.container .row .col-1-of-3 {
  width: calc( 1 * ((100% - (6rem * (3 - 1))) / 3) + ((1 - 1) * 6rem) );
}
.container .row .col-2-of-3 {
  width: calc( 2 * ((100% - (6rem * (3 - 1))) / 3) + ((2 - 1) * 6rem) );
}
.container .row .col-1-of-2 {
  width: calc( 1 * ((100% - (6rem * (2 - 1))) / 2) + ((1 - 1) * 6rem) );
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  display: grid;
  place-items: center;
  opacity: 0;
  width: 0;
  transition: width 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  list-style: none;
  text-align: center;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  color: #55c57a;
  background-position: 100%;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: relative;
  transition: transform 0.2s;
}
.navigation__icon::before {
  top: -2.85rem;
}
.navigation__icon::after {
  top: -6.25rem;
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.2rem);
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.2rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: translateY(1rem) rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: translateY(-1rem) rotate(-135deg);
}

body {
  padding: 3rem;
}

.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg") top/cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  display: grid;
  grid-template: 75vh auto/100%;
  place-items: center;
}
.header__brand {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
  width: auto;
}
.header__container {
  text-align: center;
}

#header-button {
  animation: moveInBottom 0.15s ease-out 0.85s backwards;
}

.section {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -10rem;
}
.section:hover .heading-secondary {
  transform: translateY(-10px) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.section .heading-secondary {
  margin-bottom: 8rem;
}
.section .heading-tertiary {
  margin-bottom: 1.5rem;
}

.about {
  margin-top: -20vh;
}

.features {
  background: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg") top/cover;
  padding: 20rem 0;
  transform: skewY(-7deg);
}
.features > * {
  transform: skewY(7deg);
}

.stories {
  padding: 15rem 0;
  position: relative;
  background-color: transparent;
}

.book {
  background: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0;
}
.book .heading-secondary {
  text-align: left;
  margin-bottom: 6rem;
}
.book__container {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50.2%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  width: 100%;
}
.book__content {
  width: 50%;
  padding: 6rem;
}
.book .btn {
  margin-top: 6rem;
}
