@mixin gradient-background($color-start: $color-theme-light, $color-end: $color-theme-dark, $alpha: 0.8, $url: null) {
    @if $url == null {
        background: linear-gradient(to right bottom, rgba($color-start, $alpha), rgba($color-end, $alpha));
    } @else {
        background: linear-gradient(to right bottom, rgba($color-start, $alpha), rgba($color-end, $alpha)),
            url($url) top / cover;
    }
}

@mixin gradient-text($color-start: $color-theme-light, $color-end: $color-theme-dark) {
    display: inline-block;
    background: linear-gradient(to right, $color-theme-light, $color-theme-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
