// COLORS
$color-theme-light: #7ed56f;
$color-theme-medium: #55c57a; // primary
$color-theme-dark: #28b485;

$color-sea-light: #ffb900;
$color-sea-dark: #ff7730;

$color-snow-light: #2998ff;
$color-snow-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$themes: (
    "sea": (
        "color": (
            "start": $color-sea-light,
            "end": $color-sea-dark,
        ),
    ),
    "theme": (
        "color": (
            "start": $color-theme-light,
            "end": $color-theme-dark,
        ),
    ),
    "snow": (
        "color": (
            "start": $color-snow-light,
            "end": $color-snow-dark,
        ),
    ),
);

$card-urls: (
    "sea": "../img/nat-5.jpg",
    "theme": "../img/nat-6.jpg",
    "snow": "../img/nat-7.jpg",
);

// FONT
$default-font-size: 1.6rem;

// MARGIN
$margin-small: 1.5rem;
$margin-large: 8rem;
$margin-section-md: 25rem;
$margin-section-sm: 20rem;
$margin-section-xs: 15rem;
$margin-overlap: -10rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// BORDER RADIUS
$border-radius: 3px;
