.container {
    display: flex;
    flex-direction: column;

    .row {
        width: 100%;
        max-width: $grid-width;
        display: flex;
        justify-content: space-between;
        
        background: #eee;
        margin: 0 auto; // old school?
        
        &:not(:last-child) {
            margin-bottom: $gutter-vertical;
        }

        @for $total from 4 to 1 {
            @for $count from 1 to $total {
                .col-#{$count}-of-#{$total} {
                    width: calc(#{$count} * ((100% - (#{$gutter-horizontal} * (#{$total} - 1))) / #{$total}) + ((#{$count} - 1) * #{$gutter-horizontal}));
                    background-color: orangered;
                }
            }
        }
    }
}