.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
        display: grid;
        place-items: center;

        @include media(md) {
            top: 4rem;
            right: 4rem;
        }

        @include media(sm) {
            top: 3rem;
            right: 3rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-theme-light, $color-theme-dark);
        z-index: 1000;

        @include media(md) {
            top: 4.5rem;
            right: 4.5rem;
        }

        @include media(sm) {
            top: 3.5rem;
            right: 3.5rem;
        }

        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    }

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1100;
        display: grid;
        place-items: center;

        opacity: 0;
        visibility: hidden;
        width: 0;
        transition: width 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55),
            opacity 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        list-style: none;
        text-align: center;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 230%;
            transition: all 0.4s;

            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            color: $color-theme-medium;
            background-position: 100%;
            transform: translateX(1rem);
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        visibility: visible;
    }

    &__icon {
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: relative;
            transition: transform 0.2s;
        }

        &::before {
            top: -2.85rem;
        }

        &::after {
            top: -6.25rem;
        }
    }

    &__button:hover &__icon::before {
        transform: translateY(-0.2rem);
    }

    &__button:hover &__icon::after {
        transform: translateY(0.2rem);
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: translateY(1rem) rotate(180deg - 45deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: translateY(-1rem) rotate(45deg - 180deg);
    }
}
