.btn {
    &:link,
    &:visited {
        position: relative;
        text-decoration: none;
        display: inline-block;
        transition: transform 0.25s, box-shadow 0.25s, background-color 0.25s, color 0.25s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }

    &--primary,
    &--primary::after {
        color: $color-theme-medium;
        border-bottom-color: $color-theme-medium;
    }

    &--primary:hover {
        color: $color-white;
        background: $color-theme-medium;
    }

    &--white,
    &--white::after {
        background: $color-white;
        color: $color-grey-dark;
    }

    &--pulse {
        &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: transform 0s, opacity 0s;
        }

        &:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
            transition-duration: 0.4s;
        }
    }

    &--rounded,
    &--rounded::after {
        border-radius: 10rem;
    }

    &--underline,
    &--underline::after {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    &--big,
    &--big::after {
        padding: 1.5rem 4rem;
        text-transform: uppercase;
    }

    &--small,
    &--small::after {
        padding: 3px;
    }
}
