.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    border-radius: $border-radius;
    padding: 6rem;
    padding-left: 9rem;

    $skew: -12deg;
    transform: skewX($skew);
    & > * {
        transform: skewX(-$skew);
    }

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left;

        $circle: circle(50% at 50% 50%);
        shape-outside: $circle;
        clip-path: $circle;
        transform: translateX(-3rem) skewX(-$skew);
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: transform 0.5s, filter 0.5s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s, transform 0.5s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}
