@use "sass:math";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: percent(10px);
    $rem-scale: math.div(10, 10);

    @include media(xl) {
        font-size: percent(12px);
        $rem-scale: math.div(12, 10);
    }

    @include media(lg) {
        font-size: percent(9px);
        $rem-scale: math.div(9, 10);
    }

    @include media(md) {
        font-size: percent(8px);
        $rem-scale: math.div(8, 10);
    }
}
