*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: percent(10px);

    @include media(xl) {
        font-size: percent(12px);
    }

    @include media(lg) {
        font-size: percent(9px);
    }

    @include media(md) {
        font-size: percent(8px);
    }
}
