body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-hero {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;


    &__title {
        display: block;
        letter-spacing: 3.5rem;
        font-size: 6rem;
        font-weight: 400;
        animation: moveInLeft 1s ease-out;
    }

    &__subtitle {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
}