body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-hero {
    color: white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    &__title {
        display: block;
        letter-spacing: 3.5rem;
        font-size: 6rem;
        font-weight: 400;
        animation: moveInLeft 1s ease-out;
    }

    &__subtitle {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.75rem;
        font-weight: 700;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background: linear-gradient(to right, $color-theme-light, $color-theme-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-align: center;

    transition: transform 0.2s, text-shadow 0.2s;

    &:hover {
        transform: skewY(5deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }
}
