body {
    padding: 3rem;
}

.header {
    position: relative;
    height: 95vh;
    @include gradient-background($url: "../img/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    display: grid;
    grid-template: 75vh auto / 100%;
    place-items: center;

    &__brand {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
        width: auto;
    }

    &__container {
        text-align: center;
    }
}

#header-button {
    animation: moveInBottom 0.15s ease-out 0.85s backwards;
}

%section-common {
    background-color: $color-grey-light-1;
    padding: $margin-section-md 0;
    margin-top: $margin-overlap;

    &:hover .heading-secondary {
        transform: translateY(-10px) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
    }

    .heading-secondary {
        margin-bottom: $margin-large;
    }

    .heading-tertiary {
        margin-bottom: $margin-small;
    }
}

.section {
    @extend %section-common;
}

.about {
    margin-top: -20vh;
}

.features {
    @include gradient-background($url: "../img/nat-4.jpg");
    padding: $margin-section-sm 0;

    $skew: -7deg;
    transform: skewY($skew);

    > * {
        transform: skewY(-$skew);
    }
}

.stories {
    padding: $margin-section-xs 0;
    position: relative;
    background-color: transparent;
}

.book {
    @include gradient-background($alpha: 1);
    padding: $margin-section-xs 0;

    .heading-secondary {
        text-align: left;
        margin-bottom: $margin-medium;
    }

    &__container {
        background-image: linear-gradient(
                105deg,
                rgba($color-white, 0.9) 0%,
                rgba($color-white, 0.9) 50%,
                transparent 50.2%
            ),
            url(../img/nat-10.jpg);
        background-size: cover;
        border-radius: $border-radius;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

        width: 100%;
    }

    &__content {
        width: 50%;
        padding: 6rem;
    }

    .btn {
        margin-top: $margin-medium;
    }
}
