body {
    padding: 3rem;
}

.header {
    position: relative;
    height: 95vh;
    @include gradient-background($url: "../img/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    display: grid;
    grid-template: 75vh auto / 100%;
    place-items: center;

    &__brand {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
        width: auto;
    }

    &__container {
        text-align: center;
    }
}

#header-button {
    animation: moveInBottom 0.15s ease-out 0.85s backwards;
}

%section-common {
    background-color: $color-grey-light-1;
    padding: $margin-section-md 0;
    margin-top: $margin-overlap;

    .heading-secondary {
        margin-bottom: $margin-large;
    }

    .heading-tertiary {
        margin-bottom: $margin-small;
    }
}

.about {
    @extend %section-common;
    margin-top: -20vh;
}

.features {
    @extend %section-common;
    @include gradient-background($url: "../img/nat-4.jpg");
    padding: $margin-section-sm 0;

    $skew: -7deg;
    transform: skewY($skew);

    > * {
        transform: skewY(-$skew);
    }
}

.tours {
    @extend %section-common;
}

.stories {
    @extend %section-common;
    padding: $margin-section-xs 0;
    position: relative;
    background-color: transparent;
}
